.EventsListContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  button {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
  .ArrowButton {
    width: 2.5em;
  }
}

.EventsList {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25em;
  &,
  ul {
    padding-inline-start: 0;
    list-style-type: none;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .EventListSection {
    flex-basis: 20em;
    margin-right: 2em;
    height: 100%;
    border: 1px solid #e5e5e5;
    position: relative;
    h3 {
      margin-top: 0;
      line-height: 2em;
      text-align: center;
      background-color: #e5e5e5;
    }
  }
}

.EventsByDate {
  height: 20em;
  .ArrowButton {
    height: 3em;
    position: absolute;
    left: 50%;
    &:nth-child(1) {
      top: 2em;
    }
    &:nth-last-child(1) {
      bottom: -1em;
    }
  }
  .Event {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.75em;
    padding: 0 0.5em;
    * {
      margin-right: 0.25em;
    }
    input {
      color: #000000;
    }
    input:disabled {
      border-color: transparent;
      background-color: transparent;
      &[type="date"] {
        visibility: hidden;
      }
    }
    .InputField {
      width: fit-content;
      input {
        padding: 1px;
        border-width: 1px;
      }
    }
    .Name {
      width: 4em;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      &:hover {
        white-space: normal;
      }
    }
    .Delete {
      width: 1em;
      height: auto;
    }
    .error {
      display: none;
    }
  }
}
